.odd{
    background-color: rgb(255, 0, 183);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#two {
    color: rgb(0,0,255);
    font-size: 36px;
}

#three {
    font-size: 24px;
}

#four {
    background-color: rgb(140, 227, 140);
    font-size: 24px;
    font-weight: bold;
}