body {
  max-width: 600px;
}

div {
  margin: auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  width: 350px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  width: 450px;
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 23px;
  margin-right:70px ;
}