body {
  font-family: Arial, Helvetica, sans-serif;
} /* ok*/

.para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
  font-size: 22px;
} /*ok*/

.small-para {
  font-size: 14px;
  font-weight: 800;
}/*ok*/

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} /*ok*/

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}/*ok*/

.text.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
